@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    height: 100vh;
    position: relative;
}

.wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.img {
    position: relative;
    width: 70%;
    display: grid;
    place-self: center;
    margin-bottom: 1rem;
}

.bg {
    width: 100%;
}

.person {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider {
    width: 60px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;
    border-radius: 15px;
    padding: 8px;
}

.next,
.prev {
    width: 8px;
}

.content {
    position: relative;
    text-align: center;
    padding: 2rem;
}

.quotes {
    width: 50px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.about {
    font-weight: 300;
    margin-bottom: 0.9rem;
}

.name {
    font-size: 1em;
    font-weight: 700;
    color: hsl(240, 38%, 20%);
    margin-bottom: 0.5rem;
}

.career {
    font-size: 0.9em;
    font-weight: 500;
    color: hsl(240, 18%, 77%);
}

.curve {
    width: 60%;
    position: absolute;
    bottom: 0;
}

@media (min-width: 1024px) {
    
    .wrap {
        display: flex;
        flex-direction: row-reverse;
        justify-items: center;
        align-items: center;
        padding: 0 10% 0 0 ;
    }
.img {
    width: 550px;
}
    .content {
        left: 12%;
        width: 40%;
    }

    p {
        text-align: left;
        font-size: 24px;
        line-height: 1.5;
    }

    .tech {
        display: flex;
        align-items: first baseline;
        gap: 10px;
    }
}